<div class="main-content-inner-part">
  <form id="sign-up-form"
        (ngSubmit)="submitForm()"
        [formGroup]="createTeatherForm">
    <div class="container">
      <h1>Create Screening</h1>

      <hr>

      <div class="sign-up-line-wrap">
        <label><b>Name</b></label>
        <input type="text"
               placeholder="Enter the name of the screening"
               formControlName="name">
      </div>
      <div class="invalid-message"
           *ngIf="name.touched && name.invalid">{{invalidNameMessage()}}</div>



      <div class="sign-up-line-wrap">
        <label><b>Times</b></label>
        <input type="text"
               placeholder="Enter the list of hours for this screening seprated by ','"
               formControlName="times">
      </div>

      <div class="invalid-message"
           *ngIf="times.touched && times.invalid">{{invalidTimesMessage()}}</div>

      <div class="sign-up-line-wrap">
        <label><b>Teathers</b></label>
        <input type="text"
               placeholder="Enter the list of teathers for this screening seprated by ','"
               formControlName="teathers">
      </div>

      <div class="invalid-message"
           *ngIf="teathers.touched && teathers.invalid">{{invalidTeathersMessage()}}</div>
      <hr>

      <button type="submit"
              class="registerbtn"
              [disabled]="!createTeatherForm.valid">Submit</button>
    </div>

  </form>

</div>
<div id="myModal"
     *ngIf="isModalOpen"
     class="modal">
  <div class="modal-content">
    <span (click)="onClickCloseModal()"
          class="close">&times;</span>
    <p>{{msg}}.</p>
  </div>
</div>
