<div class="main-content">
  <div class="main-content-inner-part-book-page">
    <div class="book-upper-part">
      <div class="book-upper-part-picture">
        <img src="{{img}}"
             alt="">
        <div>{{ticketPrice}}$</div>
        <button>Add to cart</button>
      </div>
      <div class="book-upper-part-main-content">
        <div class="book-upper-part-main-content-title">{{name}}</div>
        <hr>
        <div class="book-upper-part-main-content-author">
          By (writer) {{writer}}
        </div>
        <div class="book-upper-part-main-content-description">
          <textarea name=""
                    id=""
                    readonly>{{description}}</textarea>

        </div>
      </div>
    </div>

    <div class="movie-sitting-part">
      <div class="movie-container">
        <label>Pick a movie: </label>
        <select id="movie">
          <option value="250">Interstellar (Rs. 250)</option>
          <option value="200">Kabir Singh (Rs. 200)</option>
          <option value="150">Duniyadari (Rs. 150)</option>
          <option value="100">Natsamrat (Rs. 100)</option>
        </select>

        <ul class="showcase">
          <li>
            <div class="seat"></div>
            <small>N/A</small>
          </li>
          <li>
            <div class="seat selected"></div>
            <small>Selected</small>
          </li>
          <li>
            <div class="seat occupied"></div>
            <small>Occupied</small>
          </li>
        </ul>

        <div class="container">
          <div class="screen"></div>

          <div class="row">
            <div *ngFor="let number of [1,2,3,4,5,6,7,8]"
                 class="seat"></div>
          </div>


          <div class="row">
            <div *ngFor="let number of [9,10,11,12,13,14,15,16]"
                 class="seat"></div>
          </div>


          <div class="row">
            <div *ngFor="let number of [17,18,19,20,21,22,23,24]"
                 class="seat"></div>
          </div>


          <div class="row">
            <div *ngFor="let number of [25,26,27,28,29,30,31,32]"
                 class="seat"></div>
          </div>


          <div class="row">
            <div *ngFor="let number of [33,34,35,36,37,38,39,40]"
                 class="seat"></div>
          </div>


          <div class="row">
            <div *ngFor="let number of [41,42,43,44,45,46,47,48]"
                 class="seat"></div>
          </div>


          <div class="row">
            <div *ngFor="let number of [49,50,51,52,53,54,55,56]"
                 class="seat"></div>
            <!-- <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat occupied"></div>
            <div class="seat"></div> -->
          </div>

          <p class="text">
            You have selected <span id="count">0</span> seats for the total price of Rs. <span id="total">0</span>
          </p>
        </div>
      </div>

      <div class="credits"><a href="http://www.aniket.co"
           target="_blank">aniket.co</a></div>
    </div>

    <div class="book-middle-part">
      <div class="book-middle-part-title">Movie details</div>
      <hr>
      <div class="book-details-container">
        <div class="book-details-left">
          <div><b>Genre: </b> {{genre}}</div>
          <div><b>Production: </b> {{production}}</div>

        </div>
        <div class="book-details-right">
          <div><b>Length: </b> {{length}}</div>
          <div><b>Language: </b>English</div>
        </div>
      </div>
    </div>
  </div>
</div>
