<div class="main-content">
  <div class="main-content-inner-part">

    <a href="">
      <div class="book-container">
        <div class="book-container-inner-part">
          <img src=""
               alt="">
          <span class="book-title">asdasdas</span>
          <span class="book-auther">asdasdsad</span>
          <span class="book-price">asdasdasd</span>
          <form method="POST"><button class="book-atc">Add to cart</button></form>
        </div>
      </div>
    </a>

  </div>
  <script src="/js/menu-button.js"></script>

</div>
