<div class="container">
  <div class="main-content">
    <div class="main-content-inner-part">

      <a routerLink="/admin-edit-movie/{{movie._id}}"
         *ngFor="let movie of movieList">
        <div class="book-container">
          <div class="book-container-inner-part">
            <img src="{{movie.img}}"
                 alt="">
            <span class="book-title">{{movie.name}}</span>

            <button routerLink="/admin-movies"
                    (click)="onDeleteMovieButton(movie._id)"
                    class="book-atc">Delete</button>
          </div>
        </div>
      </a>

    </div>
  </div>
</div>
