<div *ngFor="let user of users"
     class="main">
  <div class="card">
    <div class="card-container">
      <div class="info"><b style="margin-right: 4px;">First Name:</b>{{user.firstName}}</div>
      <div class="info"><b style="margin-right: 4px;">Last Name:</b>{{user.lastName}}</div>
      <div class="info"><b style="margin-right: 4px;">Age:</b>{{user.age}}</div>
      <div class="info"><b style="margin-right: 4px;">Email:</b>{{user.email}}</div>
      <button routerLink="/admin-edit/{{user._id}}"
              class="user-card-buttons-actions">Edit</button>
      <button (click)="onDeleteUserButton(user._id)"
              class="user-card-buttons-actions">Remove</button>
    </div>
  </div>
</div>
