<div class="container">

  <div class="main-content">
    <div class="teathers">

      <button *ngFor="let teather of teathers"
              (click)="showTeatherMovie(teather._id)">{{teather.name}}</button>
    </div>
    <div class="main-content-inner-part">

      <a *ngFor="let movie of movieList"
         routerLink="/movie/{{movie._id}}">
        <div class="book-container">
          <div class="book-container-inner-part">
            <img src="{{movie.img}}"
                 alt="">
            <span class="book-title">{{movie.name}}</span>
            <span class="book-price">{{movie.ticketPrice}}$</span>
          </div>
        </div>
      </a>

    </div>
  </div>
</div>
